@import "variables.scss";

@mixin font-size-20{
  font-size: $font-size-20;
  line-height: $line-height-20;
  letter-spacing: $letter-20;
}
@mixin font-size-m{
  font-size: $font-size-m;
  line-height: $line-height-m;
  letter-spacing: $letter-m;
}
@mixin font-size-22{
  font-size: $font-size-22;
  line-height: $line-height-22;
  letter-spacing: $letter-22;
}
@mixin font-size-24{
  font-size: $font-size-24;
  line-height: $line-height-24;
  letter-spacing: $letter-24;
}
@mixin font-size-28{
  font-size: $font-size-28;
  line-height: $line-height-28;
  letter-spacing: $letter-28;
}
@mixin font-size-36{
  font-size: $font-size-36;
  line-height: $line-height-36;
  letter-spacing: $letter-36;
}
@mixin font-size-64{
  font-size: $font-size-64;
  line-height: $line-height-64;
  letter-spacing: $letter-64;
}
@mixin font-size-91{
  font-size: $font-size-91;
  line-height: $line-height-91;
  letter-spacing: $letter-91;
}
@mixin font-size-85{
  font-size: $font-size-85;
  line-height: $line-height-85;
  letter-spacing: $letter-85;
}
@mixin font-size-24{
  font-size: $font-size-24;
  line-height: $line-height-24;
  letter-spacing: $letter-24;
}
@mixin font-size-num{
  font-size: $font-size-num;
  line-height: $line-height-num;
  letter-spacing: $letter-num;
}
@mixin font-size-h4{
  font-size: $font-size-h4;
  line-height: $line-height-h4;
  letter-spacing: $letter-h4;
}
@mixin link{
  display: inline;
  position: relative;

  text-decoration: none;
  border-bottom: 2px solid transparent;
  &:hover{
    border-bottom: 2px solid $color-dark1a;
  }
}
@mixin link-underline{
  display: inline;
  position: relative;

  text-decoration: none;
  border-bottom: 2px solid $color-dark1a;
  &:hover{
    border-bottom: 2px solid transparent;
  }
}
@mixin link_w{
  color: $color-white;
  &:hover {
    border-bottom: 2px solid $color-white;
  }
}
@mixin link_b{
  color: $color-dark1a;
  &:hover {
    border-bottom: 2px solid $color-dark1a;
  }
}
@mixin link-underline_w{
  border-bottom: 2px solid $color-white;
  &:hover{
    border-bottom: 2px solid transparent;
  }
}
@mixin m0p0{
  margin: 0;
  padding: 0;
}
@mixin section-line{
  position: relative;
  &:after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), $color-dark1a;
  }
}
@mixin section-line-w{
  &:after{
    background: $color-lightgray;
  }
}
@mixin section-line-bottom{
  @include section-line;
  &:after{
    bottom: 0;
  }
}
@mixin section-line-top{
  @include section-line;
  &:after{
    top: 0;
  }
}