.footer{
  padding: 47px 0 45px 0;
  @media (max-width: 991px) {
    padding: 30px 0 25px 0;
  }

  color: $color-white;
  a{
    color: $color-white;
  }
}
.footer-columns{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
  @media (max-width: 991px) {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
}
.footer-column{
  flex: 0 0 25%;
  @media (max-width: 991px) {
    flex: 0 0 100%;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
.footer__main-title{
  padding: 0;
  margin: 0;

  font-weight: unset;
  @include font-size-28;
}
.footer__title{
  padding: 0;
  margin: 0 0 14px 0;

  font-weight: unset;
  @include font-size-28;
}
.footer-menu__item{
  li{
    @include font-size-20;
  }
  a{
    display: inline-block;
    text-decoration: none;
  }
  &:not(:first-child){
    margin-top: 30px;
  }
}
.footer-contacts{
  width: calc(100% + 10px);
  p{
    padding: 0 0 14px 0;
    margin: 0;

    @include font-size-20;
    &:last-child{
      padding-bottom: 0;
    }
  }
  a{
    @include link_w;
  }
}
.footer-bottom{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  @media (max-width: 991px) {
    flex-wrap: wrap;
  }
}
.footer-bottom__links{
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  @media (max-width: 991px) {
    flex: 0 0 100%;
  }
  a{
    display: block;

    text-decoration: none;

    img{
      height: 54px;
      width: auto;
    }
    &:first-child{
      margin-right: 50px;
      img{
        height: 44.4px;
      }
    }
    &:nth-child(2){
      margin-right: 30px;
      img{
        height: 54px;
      }
    }
    &:nth-child(3){
      img{
        height: 62.1px;
      }
    }
  }
}
.footer-bottom__copyright{
  text-align: right;
  font-size: 12px;
  line-height: 2em;
  @media (max-width: 991px) {
    flex: 0 0 100%;
    margin-top: 10px;

    text-align: left;
  }
}