@font-face {
  font-family: 'Polymer-SemiBold';
  src: url("../public/assets/fonts/Polymer-SemiBold.otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Polymer-Bold';
  src: url("../public/assets/fonts/Polymer-Bold.otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
}
a {
  color: #1A1A1A;
  text-decoration: underline;
}
a:visited, a:hover{
  text-decoration: unset;
}
body{
  padding: 0;
  margin: 0;

  background-color: $color-background;

  font-family: "Polymer-SemiBold", Arial, serif;
  font-size: 18px;
  line-height: 1em;
  letter-spacing: 0.015em;
  color: $color-dark1a;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clearfix{
  clear: both;
}
.ul-nostyle{
  margin: 0;
  padding: 0;

  list-style: none;
  li{
    margin: 0;
    padding: 0;
  }
}
.h1{
  margin: 0;
  padding: 0;

  font-family: $font-family--polymer-bold;
  @include font-size-h1;
  font-weight: unset;
}
.h2{
  margin: 0;
  padding: 0;

  font-family: $font-family--polymer-bold;
  font-size: $font-size-h2;
  font-weight: unset;
  line-height: $line-height-h2;
  letter-spacing: $letter-h2;
  text-transform: lowercase;
  @media (max-width: 991px) {
    font-size: $font-size-h2-mob;
    line-height: $line-height-h2-mob;
    letter-spacing: $letter-h2-mob;
  }
}
.h3{
  margin: 0;
  padding: 0;

  font-family: $font-family--polymer-bold;
  @include font-size-h3;
  font-weight: unset;
  text-transform: lowercase;
}
.h4{
  margin: 0;
  padding: 0;

  @include font-size-h4;
  font-weight: unset;
  a{
    text-decoration: none;
  }
}
.h5{
  margin: 0;
  padding: 0;

  @include font-size-m;
  font-weight: unset;
  a{
    text-decoration: none;
  }
}
.link{
  @include link;
}
.link_underline{
  @include link-underline;
}
.link_calendar{
  @media (max-width: 991px) {
    font-size: 0;
    width: 84px;
    height: 84px;
    background: url("../public/images/dest/icons/icon-calendar.svg") no-repeat center;
    background-size: contain;
    @media (max-width: 656px) {
      width: 60px;
      height: 60px;
    }
  }
}
.link_filter{
  @media (max-width: 991px) {
    font-size: 0;
    width: 84px;
    height: 84px;
    background: url("../public/images/dest/icons/icon-filter.svg") no-repeat center;
    background-size: contain;
  }
  @media (max-width: 656px) {
    width: 60px;
    height: 60px;
  }
}
.btn{
  display: inline-block;
  padding: 3px 12px 5px;
  min-width: 200px;

  border: 2px solid $color-dark1a;
  background: $color-dark1a;
  border-radius: 4px;

  @include font-size-24;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  color: $color-lightgray;
  white-space: nowrap;

  @media (max-width: 991px) {
    padding: 11px 12px 13px;

    @include font-size-36;
    white-space: break-spaces;
  }
  &.btn_transparent{
    padding: 7px 12px 9px 12px;
    background: transparent;
    color: $color-dark1a;
  }
}
.bg-white{
  background-color: $color-background;
}
.bg-green{
  background-color: $color-green;
}
.bg-purple{
  background-color: $color-purple;
}
.bg-pink{
  background-color: $color-pink;
}
.bg-gray40{
  background-color: $color-gray40;
}
.bg-gray26{
  background-color: $color-dark26;
}
.bg-brown{
  background-color: $color-brown;
}
//light fonts
.bg-gray40{
  color: $color-white;
  main .link, header .link{
    @include link_w;
  }
  nav {
    a {
      @include link_w;
    }
  }
  .main-title{
    a{
      color: $color-white;
      &:before{
        filter: brightness(0) saturate(100%) invert(7%) sepia(5%) saturate(4%) hue-rotate(3deg) brightness(105%) contrast(94%);
      }
    }
  }
}
//dark fonts
.bg-green, .bg-white, .bg-brown, .bg-pink{
  color: $color-dark1a;
  main .link, header .link{
    @include link_b;
  }
  nav {
    a {
      @include link_b;
    }
  }
  .svg_color{
    filter: brightness(0) saturate(100%) invert(7%) sepia(5%) saturate(4%) hue-rotate(3deg) brightness(105%) contrast(94%);
  }
}

.container{
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
  @media (max-width: 1320px) {
    padding: 0;
    margin: 0 20px;
  }
}
main{
  min-height: 300px;
}

//MODAL WINDOW
.customModal{
  width: 100%;
  padding: 20px 20px 30px 20px;
  margin: 20px;
  max-width: 960px;
  overflow: unset;

  background: $color-pink;
  border-radius: 44px;
  box-shadow: unset;

  @media (max-width: 991px) {
    width: 100%;
    height: auto;
    max-width: 100%;
    margin: 0;

    border-radius: 0;
  }
}
.videoModal{
  width: 100%;
  padding: 0;
  margin: 20px;
  max-width: 960px;
  overflow: unset;
  @media (max-width: 991px) {
    width: 100%;
    height: auto;
    max-width: calc(100vw - 10px);
    margin: 5px;
  }
}
.customOverlay{
  background: rgba(229, 229, 229, 0.7)!important;
  backdrop-filter: blur(8px);
}
.customCloseButton{
  top: 20px;
  right: 20px;
  outline: none;
}
.modal-text {
  padding: 8px 64px 6px 24px;
  @media (max-width: 991px) {
    padding: 8px 0 6px 0;
  }
}
.modal-text__descr{
  @include font-size-28;
  p{
    @include m0p0;
    &:not(:last-child){
      padding-bottom: 20px;
    }
  }
}
.modal-text__title{
  margin-bottom: 31px;
  @include font-size-h3;
  @media (max-width: 991px) {
    padding-right: 64px;
  }
}

//PLAYER
.video-player{
  position: relative;
  width: 100%!important;
  height: 0!important;
  padding-bottom: 56.25%;
  background-color: #000000;
}
.video-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.lg-backdrop{
  background: rgba(0, 0, 0, 1)!important;
}
.lg-toolbar {
  .lg-icon{
    color: $color-lightgray!important;
  }
  .lg-download{
    display: none;
  }
  .lg-close:after {

  }
}
.lg-counter{
  color: $color-lightgray!important;
}
.lg-next:not(.disabled), .lg-prev:not(.disabled){
  color: $color-lightgray!important;
}
/*PHOTO GALLERY*/
.gallery .carousel {
   .slider{
    width: 100%!important;
    height: 408px!important;
    margin-bottom: 8px;
  }
  .slider img{
    width: 100%!important;
    height: 100%!important;
    object-fit: cover;
    object-position: center;
  }
  .thumbs-wrapper {
    margin: 0 !important;
  }
  .thumbs{
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap!important;
    margin: 0;
    margin-block: 0;
    padding-inline-start: 0;
  }
  .thumb {
    width: 148px!important;
    height: 96px!important;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    &:hover, &.selected{
      border: 0;
      opacity: 0.25;
    }
    &:nth-child(3n){
      width: 96px!important;
    }
  }


}
.gallery-mob__items{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  grid-gap: 10px;
  padding: 0 5px;
  &::-webkit-scrollbar {
    display: none;
  }
}
.gallery-mob__item{
  flex: 0 0 564px;
  width: 100%;
  height: 408px;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
