.menu-main{
  @media (max-width: 991px) {
    display: none;
  }
  ul{
    display: flex;
    grid-gap: 25px;
  }
  &.menu-main_page{
    position: relative;
    top: unset;
  }
}
.menu-main__item{
  a{
    border-bottom: 2px solid transparent;

    @include link_w;
    @include font-size-28;
    text-decoration: unset;
    letter-spacing: 0.022em;
    text-transform: lowercase;
  }
  &.selected a{
    border-bottom: 2px solid;
  }

}

//PAGE HEADER
.menu-main_page{
  position: relative;
  top: unset;
  padding-left: 45px;
}