@import "video-articles";
@import "photo-articles";
@import "news-articles";

//MAIN
.section-main{
  padding: 40px 0;
  @media (max-width: 991px) {
    padding: 48px 0 40px 0;
  }
}
.link-main__all{
  @include font-size-28;
  text-transform: lowercase;
  @include link-underline;
  display: inline-block;
}


//POSTER
.section-main__poster{
  .link-main__all{
    margin: 16px 0;
    @media (max-width: 991px) {
      margin-top: 34px;
      float: right;
    }
  }
}

//ORCHESTRA
.section-main__orchestra{
  @media (max-width: 991px) {
    padding-top: 40px;
  }
  .link-main__all{
    float: right;
    margin-top: -68px;
    @media (max-width: 991px) {
      margin-top: 0;
    }
  }
  .h2{
    margin-bottom: 16px;
    @media (max-width: 991px) {
      margin-bottom: 34px;
    }
  }
}

//MASTERS
.section-main__masters{
  padding-top: 0;
}

//NEWS
.section-main__news{
  padding-bottom: 64px;
  color: $color-white;
  @media (max-width: 991px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .link-main__all{
    margin-top: 40px;

    color: $color-white;
    @include link-underline_w;
    @media (max-width: 991px) {
      float: right;
    }
  }
}

//VIDEO
.section-main__video{
  padding-bottom: 50px;
  @media (max-width: 991px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

//PHOTO
.section-main__photo{
  padding-bottom: 48px;
  @media (max-width: 991px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .link-main__all{
    margin-top: 32px;

    @media (max-width: 991px) {
      display: none;
    }
  }
}
