.page-video{
  margin-bottom: 50px;
}
.video-section{
  padding-bottom: 35px;
  &:not(:last-child) {
    @include section-line-bottom;
    @include section-line-w;
  }
  &:not(:first-child){
    padding-top: 35px;
    @media (max-width: 991px) {
      padding-top: 20px;
    }
  }
}
.video-section__video{
  position: relative;
  padding-right: 51px;
  width: 100%;
  height: 408px;
  @media (max-width: 991px) {
    display: none;
  }
  picture {
    cursor: pointer;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: url("/images/dest/icons/icon-video.svg") no-repeat center;
    }
    img {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
.video-section__video_mob{
  display: none;
  padding: 0;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 25px;
  @media (max-width: 991px) {
    display: block;
  }
}
.video-section__title{
  margin-bottom: 27px;
  @media (max-width: 991px) {
    display: flex;
    flex-wrap: wrap;
  }
  & > *{
    flex: 0 0 100%;
  }
  .h4{
    @media (max-width: 991px) {
      order: 3;
      margin-top: 14px;
    }
  }
  p{
    padding: 0 0 4px 0;
    margin: 0;
    @include font-size-m;

    @media (max-width: 991px) {
      order: 1;
      padding-bottom: 0;
      @include font-size-36;
    }
  }
  span{
    display: block;
    margin-top: 10px;

    line-height: 1.1em;
    @media (max-width: 991px) {
      order: 2;
      margin-top: 8px;
    }

  }
}

.video-section__text{
  @include font-size-24;
  p{
    margin: 0;
    padding: 0 0 20px 0;
  }
  p:last-child{
    padding-bottom: 0;
  }
  table{
    margin-top: 10px;
    border: none;
    border-spacing: 0;

    @include font-size-24;
    td{
      padding: 4px 0;
      &:first-child{
        padding-right: 30px;
      }
    }
  }
  strong{
    font-weight: unset;
  }
}