.page-tags{
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 53px;
  @media (max-width: 991px) {
    margin-left: -9px;
    margin-right: -20px;
    margin-bottom: 35px;
    padding: 0 5px;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  button{
    cursor: pointer;

    position: relative;
    display: block;
    padding: 8px 16px;
    gap: 12px;

    background: $color-lightgray;
    border: 2px solid $color-lightgray;
    border-radius: 22px;
    outline: none;

    @include font-size-m;
    white-space: nowrap;

    &.active{
      padding-right: 55px;
      background-color: transparent;
      &:after{
        content: "";
        position: absolute;
        right: 20px;
        top: 0;
        height: 100%;
        width: 16px;
        background: url("/images/dest/icons/icon-button-active.svg") no-repeat center;
        background-size: contain;
      }
    }
  }
}
.page-tags_black{
  button{
    background: $color-dark1a;
    border: 2px solid $color-dark1a;

    color: $color-white;
    &.active{
      color: $color-dark1a;
    }
  }
}